.card {
	background: rgba(0, 0, 0, 0.1);
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin-bottom: 15px;
	flex-grow: 1;
	flex: auto

}

.card {
	flex-grow: 1;
	padding-left: 0;
	font-size: 17px;
	font-family: 'Libre Franklin', sans serif ;
    font-weight: bold;
}
	


.card img {
	width: 200px;
	border-radius: 6px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
