.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup-content {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup_dil .close_popup {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup_dil .content_flightht_travel_dil {
  max-height: 30%;
  overflow: auto;
}

.close_popup {
  font-size: 8000px;
  opacity: 0;
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.popup-iframe {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  display: block;
  position:fixed; 
  height: 500px;
  top: calc(20% - 25px); 
  left: calc(25% - 50px)
}
